# Ignorar entorno virtual
env/

# Ignorar archivo de notas específico
notas.txt

# Ignorar archivos temporales y compilados
*.log
__pycache__/
*.pyc

# Ignorar base de datos local
db.sqlite3

# Ignorar carpeta generada automáticamente
staticfiles/

