{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Mi Proyecto{% endblock %}</title>
  <meta name="description" content="Portfolio de desarrollo web con Django. Aplicación de gestión de tareas y diagnóstico de sostenibilidad. Acceso demo disponible." />
  <meta name="author" content="Sandra Muñoz Muñoz" />
  <link rel="stylesheet" href="{% static 'agenda/estilos.css' %}">
  {% block extra_styles %}{% endblock %}
</head>
<body>
  {% if not ocultar_menu %}
  <nav>
    <a href="{% url 'inicio' %}">🏠 Inicio</a>
    <a href="{% url 'lista_tareas' %}">📝 Mis tareas</a>
    <a href="{% url 'login' %}">🌱 Sostenibilidad</a>

    {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="logout-btn">🔓 Cerrar sesión</button>
      </form>
    {% endif %}
  </nav>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
